body {
    background-image: url(./assets/de.jpg);
    background-size: cover;
}

#Tela-login {
    height: 100vh;        
    display: flex;           
    justify-content: center; 
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
        background-size: cover;
}

#caixa-login {
    background-color: rgba(0, 0, 0, 0.404);
    padding: 40px;
   border: 1px solid red;
    border-radius: 10px;
}