/* ===== Reset ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== Body ===== */
body {
    background-image: url(./assets/de.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
}

/* ===== Tela de Login ===== */
#Tela-login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
    width: auto;
}

/* ===== Caixa de Login ===== */
#caixa-login {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 40px;
    border: 1px solid red;
    border-radius: 10px;
    width: 400px;
}

/* ===== Logo ===== */
#Logo-login {
    margin: auto;
    display: block;
    width: 120px;
    height: auto;
    border-radius: 50%
}

/* ===== Tipografia ===== */
p,
h1 {
    font-family: "Oi Static", cursive;
    color: aliceblue;
}

/* ===== Bara ===== */
#barra-nav {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   display: flex;
   background-color: rgb(0, 0, 0);
}